code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e908c;
}

.token.punctuation {
  color: #4d4d4c;
}

.token.tag,
.token.attr-name,
.token.namespace {
  color: #51BAC8;
}

.token.deleted {
  color: #c82829;
}

.token.function-name {
  color: #256FB9;
}

.token.boolean,
.token.number,
.token.function {
  color: #f87c84; /* accent */
}

.token.property {
  color: #4d4d4c;
}

.token.class-name {
  color: #DEB328;
}

.token.constant {
  color: #B168CD;
}
.token.symbol {
  color: #46AD55;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #B168CD;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex {
  color: #46AD55;
}

.token.variable {
  color: #c82829;
}

.token.operator,
.token.entity,
.token.url {
  color: #51BAC8;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  color: #46AD55;
}
